.bg-pattern-1 {
    /*background-color: brown;*/

    /*width: 100%;*/
    /*height: 100%;*/
    position: fixed;
    /*left:0;*/
    /*top:50%;*/
    transform:scale(12);
    /*right:0;*/
    opacity:0.166667;
    transition:all .3s;
    animation:spin 200s linear infinite;
    /*margin:auto;*/
    transform-origin: center;
    pointer-events: none;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}